@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
header{
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #454f61;

}

header ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

header ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: #CBB26A;
}



.texto-inicial {

    text-align: center;
}
.titulo-index {
    text-align: center;
    color: #CBB26A;
}

footer {
    border-bottom: rgb(16, 19, 19) 4px solid;
    border-top: rgb(16, 19, 19) 4px solid;
    border-left: rgb(16, 19, 19) 4px solid;
    border-right: rgb(16, 19, 19) 4px solid;
    box-shadow: 2px 0px 3px #000;
    background-color: #CBB26A;
    text-align: center;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 55rem;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    color: #ffffff;
    background-color: #454f61;
  }

  
.titulo-sobre {
    text-align: center;
}

.social {
    padding: 15px;
    margin: 5px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
  }

  .social a{
    font-size: 30px;
    color: #F4FFFE;
    border-style: groove;
    border-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    display: inline-block
  }

  .social a:hover {
    background-color: #CBB26A;
    color: white;
    -webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -moz-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -o-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
  }
  .loguinho{
    border-radius: 20%;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}